* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: url(./background.jpg) 
}
.todo-app {
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  width: 1200px;
  min-height: 600px;
  text-align: center;
  margin: 10px auto;
  margin-top: 20px;
  border-radius: 75px;
  padding-bottom: 32px;
}

h1 {
  margin: 24px 0;
  color: rgb(49, 26, 150);
  font-size: 59px;
  font-family: 'Segoe Script'
}

h3 {
  color: rgb(49, 26, 150);
  font-size: 24px;
  font-family: 'Viner Hand ITC'
}

.todo-formulario {
  margin-bottom: 32px;
}

.todo-input {
  padding: 10px 36px 10px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 280px;
  background: white;
  color: #5d0cff;
}

.todo-input::placeholder {
  color: #5d0cff;
  text-align: center;
}

.todo-botao {
  padding: 16px;
  border: none;
  border-radius: 40px 40px 40px 40px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform:uppercase;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-botao.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 18px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.textarea {
  padding: 14px 32px 30px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 520px;
  height: 80px;
  background: white;
  color: #5d0cff;
}

.textarea::placeholder {
  color:#5d0cff;
}

.label {
  color: rgb(49, 26, 150);
  font-size: 28px;
  font-family: 'Forte';
  margin-left: auto;
}

.trabalho{
  padding: 14px 32px 30px 16px;
}

.pessoais{
  padding: 14px 32px 30px 320px;
}

.box {
  background-color: #478cc5;
  color: white;
  padding: 6px;
  width: 250px;
  border: 2px solid #5d0cff;
  border-radius: 5px;
  font-size: 10x;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box option {
  padding: 30px;
}

.digitacao {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-break: break-word;
}

.coluna-descricao{
  font-style: italic;
  font-size: small;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  word-break: break-word;
}

.linha {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px auto;
  color: #fff;
  font-size: 20px;
  background: linear-gradient(
    90deg,
    rgb(65, 185, 233) 0%,
    black 100%
  );

  padding: 10px;
  border-radius: 5px;
  width: 49%;
  height: 100px;
  word-break: break-word;
}

.esquerda {
  float:left;
  margin-right: 50.5%;
  word-break: break-word;
}

.direita {
  float:right;
  margin-left: 50.5%;
  word-break: break-word;
}

.Completa {
  text-decoration:line-through;
  opacity: 0.5;
  text-decoration-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linha:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgb(28, 100, 158) 0%,
    black 100%
  );
}

.linha:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgb(21, 35, 231) 0%,
    black 100%
  );
}

.linha:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    black 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 36px;
  cursor: pointer;
}

.finger-icon{
  margin-left: 5px;
  margin-right: 5px;
  font-size: 40px;
  align-items: center;
}

.delete-icon {
  margin-right: 5px;
  color: rgb(250, 246, 246);
}

.edit-icon {
  margin-bottom: 5px;
  font-size: 40px;
  color: rgb(245, 239, 239);
}